body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 80px;
}
p {
    color: dimgray;
    font-weight: bold;
    margin-bottom: 40px;
}
.name-highlight {
    color: #e07158;
}
.top-upper-part {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.top-bottom-part {
    height: 450px;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.link-btn {
    margin-top: 40px;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #e07158;
    border-radius: 6px;
    color: white;
}
.half-width img {
    width: 80%;
}
.work-area {
    background-color: gray;
}
.project-area {
    margin: 100px;
    height: 620px;
}
.project-area h2 {
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}
.card {
    background-color: white;
    margin: 20px;
    padding: 10px;
    width: 28%;
    border-radius: 15px;
    float: left;
}
.card img {
     width: 100%;
}
.live-contact {
    position: relative;
    text-align: center;
}
.live-contact img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-centered {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%)
}
.right-centered {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-50%, -50%)
}
.chat-btn {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #e07158;
    border-radius: 6px;
    color: white;
}
.social-media-area {
    text-align: center;
}
.social-media-icon img{
    margin: 10px;
    width: 40px;
}
